.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.subparent {
  margin: auto;
  width: 80%;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, serif;
}

.actionContainer {
  width: 100%;
  /* margin: 5%; */
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #e9e9e9;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.profileContainer {
  width: 20%;
  margin: 5%;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #e9e9e9;
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.create {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.stepsContainer {
  display: flex;
  justify-content: space-between;
}

.stepOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 2%;
}

.stepOneImage {
  width: 50%;
  transition: 0.7s;
  border-radius: 50%;
}

.stepOneImage:hover {
  transform: scale(0.8);
  transition: 0.7s;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 50px #ea4335;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profiles {
  width: 50%;
  margin: auto;
}

.profilePic {
  width: 50%;
  border-radius: 50%;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.searchContainer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 5%;
}

.searchHeader {
  /* margin: 5%; */
  font-size: 100%;
  color: rgb(1, 1, 59);
  width: 100%;
}

.searchBox {
  width: 30%;
}

ul li {
  font-size: 100%;
}
