.formContainer {
  width: 50%;
  margin: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 5px; */
  border-style: solid;
  border-width: thick;
  border-color: #e9e9e9;
  background-color: #f7f7f7;
}

label {
  font-family: Arial, Helvetica, serif;
  font-weight: normal;
}

input {
  font-family: Arial, Helvetica, serif;
  font-weight: normal;
}

input {
  background-color: none;
  background: none;
  border: 1px solid gray;
  border-radius: 2%;
}

input:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ece;
}

select {
  background-color: none;
  background: none;
  border: 1px solid gray;
  border-radius: 2%;
}

select:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ece;
}

.IINContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
.IINlabel {
  width: 30%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.IINinput {
  width: 70%;
  font-size: 90%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.NAMEContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
.NAMElabel {
  width: 30%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.NAMEinput {
  width: 70%;
  font-size: 90%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.DOBContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
.DOBlabel {
  width: 30%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.DOBinput {
  width: 70%;
  font-size: 90%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.POBContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
.POBlabel {
  width: 30%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.POBinput {
  width: 70%;
  font-size: 90%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.NATIONALITYContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
.NATIONALITYlabel {
  width: 30%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.NATIONALITYinput {
  width: 70%;
  font-size: 90%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.CITIZENSHIPContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
.CITIZENSHIPlabel {
  width: 30%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.CITIZENSHIPinput {
  width: 70%;
  font-size: 90%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.IDCARDContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
.IDCARDlabel {
  width: 30%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.IDCARDContainerTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.3%;
}
.IDCARDinput {
  width: 100%;
  font-size: 90%;
  text-indent: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.CONTACTSContainer {
  width: 100%;
  display: flex;
  padding-bottom: 2%;
}
.CONTACTSlabel {
  width: 30%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.CONTACTSContainerTwo {
  width: 70%;
  font-size: 70%;
  text-align: left;
}
.CONTACTSContainerThree {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.CONTACTSlabelTwo {
  width: 30%;
}
.CONTACTSinputTwo {
  width: 70%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.HOMEContainer {
  width: 100%;
  display: flex;
}
.HOMElabel {
  width: 30%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.HOMEContainerTwo {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.HOMEContainerTwoLabel {
  width: 100%;
  font-size: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: right;
}
.HOMEContainerThree {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.HOMEContainerFour {
  display: flex;
  width: 100%;
  font-size: 70%;
  text-align: left;
  margin-bottom: 1%;
}
.HOMEContainerFourLabel {
  width: 30%;
}
.HOMEContainerFourInput {
  width: 70%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.HOMEContainerFive {
  width: 100%;
  text-align: right;
  font-size: 90%;
}

.MARITALSTATUSContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
.MARITALSTATUSlabel {
  width: 40%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.MARITALSTATUSinput {
  width: 65%;
  font-size: 90%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.MARITALSTATUSContainerTwo {
  display: flex;
  width: 100%;
  font-size: 70%;
  text-align: left;
  margin-bottom: 1%;
}
.HOMEContainerTwoLabel {
  width: 30%;
}

.UNIVERSITYContainer {
  width: 100%;
  display: flex;
  padding-bottom: 2%;
}
.UNIVERSITYSubContainer {
  width: 100%;
}
.UNIVERSITYlabel {
  width: 42.5%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.UNIVERSITYContainerTwo {
  width: 100%;
  font-size: 70%;
  text-align: left;
}
.UNIVERSITYContainerThree {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.UNIVERSITYlabelTwo {
  width: 30%;
}
.UNIVERSITYinputTwo {
  width: 70%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.ADDITIONALINFOContainer {
  width: 100%;
  display: flex;
  padding-bottom: 2%;
}
.ADDITIONALINFOSubContainer {
  width: 100%;
}
.ADDITIONALINFOlabel {
  width: 42.5%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.ADDITIONALINFOContainerTwo {
  width: 100%;
  font-size: 70%;
  text-align: left;
}
.ADDITIONALINFOContainerThree {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  align-items: center;
}
.ADDITIONALINFOlabelTwo {
  width: 90%;
  font-size: 80%;
}
.ADDITIONALINFOlabelThree {
  width: 30%;
  text-align: left;
  font-size: 80%;
}
.ADDITIONALINFOinputTwo {
  width: 70%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 100%;
}
.ADDITIONALINFOcheckbox {
  margin-left: 2%;
  margin-right: 2%;
}

.ADDITIONALINFORELATIVESContainer {
  width: 100%;
  display: flex;
  padding-bottom: 2%;
}
.ADDITIONALINFORELATIVESSubContainer {
  width: 100%;
}
.ADDITIONALINFORELATIVESlabel {
  width: 42.5%;
  margin-left: 2%;
  font-size: 100%;
  text-align: left;
}
.ADDITIONALINFORELATIVESContainerTwo {
  width: 100%;
  font-size: 70%;
  text-align: left;
}
.ADDITIONALINFORELATIVESContainerThree {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  align-items: center;
}
.ADDITIONALINFORELATIVESlabelTwo {
  width: 90%;
  font-size: 80%;
}
.ADDITIONALINFORELATIVESlabelThree {
  width: 30%;
  text-align: left;
  font-size: 80%;
}
.ADDITIONALINFORELATIVESinputTwo {
  width: 70%;
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 100%;
}
.ADDITIONALINFORELATIVEScheckbox {
  margin-left: 2%;
  margin-right: 2%;
}

.hint {
  height: 2%;
  width: 2%;
  margin-right: 2%;
}

.hint:hover {
  background-color: #002ead;
  border-radius: 60%;
}

.dataProcessingConfirmation {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, serif;
  font-weight: normal;
  font-size: 80%;
  width: 80%;
}
