.container {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: gray;
  padding-top: 1%;
  padding-bottom: 1%;
}

.jusan {
  font-size: 150%;
  color: #ea4335;
  font-weight: bold;
}

.text {
  font-size: 150%;
}

.logo {
  width: 15rem;
  /* height: 1rem; */
}

.menu {
  font-size: 150%;
  font-family: Arial, Helvetica, serif;
  text-decoration: none;
  color: #ea4335;
  text-align: right;
  list-style-type: none;
  border: none;
  background: none;
}
.menuHidden {
  font-size: 150%;
  font-family: Arial, Helvetica, serif;
  text-decoration: none;
  color: #ea4335;
  text-align: left;
  list-style-type: none;
  border: none;
  background: none;
  visibility: hidden;
}

.exitButton {
  width: 100%;
  text-align: right;
  border: none;
  background: none;
  font-size: 150%;
  font-family: Arial, Helvetica, serif;
  color: #ea4335;
}

.exitButtonHidden {
  width: 100%;
  text-align: right;
  border: none;
  background: none;
  font-size: 150%;
  font-family: Arial, Helvetica, serif;
  color: #ea4335;
  visibility: hidden;
}

.exitIcon {
  width: 5%;
}

@media (max-width: 414px) {
  .container {
    display: flex;
    width: 95%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: gray;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .jusan {
    font-size: 50%;
    color: #ea4335;
    font-weight: bold;
  }

  .text {
    font-size: 50%;
  }

  .logo {
    width: 5rem;
    /* height: 1rem; */
  }

  .menu {
    font-size: 70%;
    font-family: Arial, Helvetica, serif;
    text-decoration: none;
    color: #ea4335;
    text-align: right;
    list-style-type: none;
    width: 100%;
  }

  .exitButton {
    width: 100%;
    text-align: right;
    font-size: 70%;
  }

  .exitIcon {
    width: 3.5%;
  }
}
