.container {
  display: flex;
  /* width: 70%; */
  width: 85%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: gray;
  padding-top: 1%;
  padding-bottom: 1%;
}

.jusan {
  font-size: 150%;
  color: #ea4335;
  font-weight: bold;
}

.text {
  font-size: 150%;
}

.logo {
  width: 15rem;
  /* height: 1rem; */
}

@media (max-width: 414px) {
  .container {
    display: flex;
    /* width: 70%; */
    width: 85%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: gray;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .jusan {
    font-size: 50%;
    color: #ea4335;
    font-weight: bold;
  }

  .text {
    font-size: 50%;
  }

  .logo {
    width: 5rem;
    /* height: 1rem; */
  }
}
