.footerContainer {
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  background: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 12%;
  height: 100%;
  clear: both;
}

.container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  border-bottom: 3px solid gray;
  margin-bottom: 1%;
  margin-top: 1%;
}

.subContainer {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.blackFooterText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  color: black;
}

.grayFooterText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  color: gray;
}

.copyrightContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.copyrightSubContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-flow: column wrap;
}

.copyrightText {
  font-size: 80%;
  color: black;
}

@media (max-width: 414px) {
  .subContainer {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    margin-left: 2%;
    margin-right: 2%;
  }

  .blackFooterText {
    font-family: Roboto;
    font-size: 50%;
    color: black;
  }

  .grayFooterText {
    font-family: Roboto;
    font-size: 30%;
    color: gray;
  }

  .copyrightContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 0;
  }

  .copyrightText {
    font-size: 60%;
    color: black;
  }
}
