.copyrightContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.copyrightSubContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-flow: column wrap;
}

.copyrightText {
  font-size: 80%;
  color: black;
}

@media (max-width: 414px) {
  .copyrightContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 0;
  }

  .copyrightText {
    font-size: 60%;
    color: black;
  }
}
