.imageContainer {
}

.container {
  /* border: 3px solid red; */
  width: 100%;
  height: 100%;
  background-image: url("../media/loginBackground.jpg");
}

.loginForm {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;

  margin-left: 15%;
  width: 30%;
  height: 100%;

  font-style: normal;
  /* text-align: center; */
  border: 3px solid black;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;

  /* justify-content: center; */
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 3%;
  margin-bottom: 5%;
  outline: none;
  border-color: #f0f0f0;
  box-shadow: 0 0 10px #f0f0f0;
}

.loginContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
}

.spanHeader {
  margin-top: 10%;
  margin-bottom: 10px;
  font-size: 150%;
  font-family: Arial, Helvetica, serif;
  font-weight: normal;
  color: #00008b;
}

.spanSubHeader {
  margin-bottom: 5%;
  font-size: 100%;
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
  color: #00008b;
}

.formInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  align-items: center;
}

.label {
  margin-top: 5%;
}

.inputField {
  box-sizing: border-box;
  width: 80%;
  border: 1px solid gray;
  border-radius: 3px;
  text-indent: 20px;
  font-size: 120%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 5%;
}

.button {
  display: flex;
  font-size: 100%;
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  border-radius: 5px;
  padding: 3%;
  background-color: #ea4335;
  color: white;
  transition: 0.7s;
}

.button:hover {
  background-color: #002ead;
  transition: 0.7s;
}

.forgotten {
  font-size: 90%;
  margin-bottom: 10%;
}

@media (max-width: 414px) {
  .imageContainer {
  }

  .container {
    /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    background-image: url("../media/loginBackground.jpg");
  }

  .loginForm {
    margin-left: 0%;
    width: 100%;
    height: 100%;

    margin-top: 3%;
    margin-bottom: 5%;
  }
}
